<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campus.myapp.dao.MapDAO">
	
	<insert id="addplace">
		insert into store (place_name, phone, road_address_name, address_name, id)
		values(#{place_name}, #{phone}, #{road_address_name}, #{address_name}, #{id})
	</insert>
	
	<select id="myReviewListAll" resultType="com.campus.myapp.vo.ReviewVO">
		select r.star, date_format(r.writedate,' %y-%m-%d') writedate, date_format(r.modifydate,' %y-%m-%d') modifydate, r.content, r.reviewimg, s.placename, r.reviewno 
		from review r join store s on r.placeid=s.placeid
		where r.userid=#{param1} order by reviewno desc
	</select>
	
	<delete id="myreviewDeleteOk">
		delete from review where reviewno=#{param1}
	</delete>
</mapper>